@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.form{
background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;
  position: fixed;
  /* margin-top: 200px; */
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 659px; 
  width: 490px;
  position: fixed;
}

.heading{

    font-family: 'Titan One', sans-serif;
    font-size: 20px;
  background-size: contain; 
  background-position: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -100px;
}

.button{
    color:white;
    background-color: #2F345D;
    position: fixed;
    width: 50px;
}

.heading5{
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 10px;
    margin-top: -114px;
}

.image{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 500px;
}

.image img{
  width: 490px;
  height: auto;
}