@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.container{
    width: 700px;
    height: auto;
    margin-left: 610px;
    margin-top: 126px;
}

.modalContext,
.heading{
    font-family: 'Roboto Condensed', sans-serif;
}

.image img{
    height: 60px;
    width: 60px;
}

.modalButton,
.submitButton{
    color: aliceblue;
    background-color: #2F345D;
}