@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.container {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    margin-bottom: 16px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    background-color: #121A3E;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .cardContent {
    padding: 16px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  