@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.heading1{
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 55px;
}

.button1{
    margin-top: 30px;
    margin-left: 200px;
    width: 200px;
    height: auto;
    color: aliceblue;
    background-color: #2F345D;
}
.button2{
    width: 200px;
    height: auto;
    color: aliceblue;
    background-color: #2F345D;
    margin-bottom: 60px;
    margin-left: -50px;
}

.imageLogo{
    margin-left: 1300px;
    margin-top: -600px;
}

.imageLogo img{
    width: 100px;
    height: 150px;
}

.input {
    margin-bottom: 30px;
    width: 400px
  }

  .buttonContainer{
    margin-bottom: 5px;
    margin-left: 292px;
    width: 200px;
  }

  .column2{
 padding-left: 200px;
 padding-top: 40px;
}

.coloumn1{
    padding-left: 100px;
    margin-bottom: 30px;
    padding-top: 40px;
}
